#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  
}
body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: 'Inter', sans-serif;
}
.app-container {
  height: 100%;
  overflow: auto;
}